body {
    background-color: #333131;
    color: white;
    text-align: center;
}

#container {
    max-width: 600px;   
    margin: 0 auto;
    padding-top: 50px;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    background-color: red;
}

.greySquare {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    background-color: #333131;
}

#subHeading {
    background-color: white;
    color: black;
    height: 30px;
}
