body {
    background-color: #333131;
    color: white;
    text-align: center;
    font-family: "Montserrat", "Avenir";
    margin: 0;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
}

h3 {
    margin-bottom: 0;
    padding-bottom: 15px;
}

.container {
    max-width: 800px;   
    margin: 0 auto;
    padding-top: 25px;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    background-color: red;
    border-radius: 20%;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;

}

.selected {
    color: white; 
    background-color: slateblue;
}

.greySquare {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    background-color: #333131;
}

#heading {
    background-color: slateblue;
}

#subHeading {
    background-color: white;
    color: slateblue;
    height: 30px;
}

#message {
    display: inline-block;
    width: 50%;
}

button {
    border: none;
    height: 100%;
    font-weight: 700;
    letter-spacing: 1px;
    color: slateblue;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}

button:hover {
    color: white; 
    background-color: slateblue;
}